/* FOOTER */

.footer {
  margin-top: 60px;
}

.social-button {
  width: 45px;
  margin: 15px;
  background-color: #fafafa;
  border-radius: 50%;
}

.social-button:hover {
  background-color: #125688;
}

.footer-social a {
  text-decoration: none;
}

.blurb {
  padding-bottom: 10px;
}